:root {

  --light: #FFF9CA;
  --flesh:#FFDEB4;
  --pink: #FFB4B4;
  --purple: #B2A4FF;
  --black: #2C3333;
}

body {
  background-color: var(--flesh);
  color: var(--black);
  font-family: 'roboto',sans-serif;
  line-height: 1.6;
}

h1 {
  line-height: 1.2;
}

button, input {
  width: 100%;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

/*header*/


.title {
  text-align: center;
  font-size: 80px;
  color: var(--purple);
  text-shadow: 5px 5px var(--pink);
}

/*main*/
.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  max-width: 1100px;
  margin: 0 auto;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

button {
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 5px 5px var(--pink);
}

button.active {
  background-color: var(--purple);
  color: var(--light);
}

button, input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button.hover, input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color'] {
  -webkit-appearance: none;
  width: 80px;
  height: 80px;
  border: none;
  background-color: var(--flesh);
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0pt;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgb(0, 0, 0,0.24) 0px 3px 8px;
}

.size-value {
  margin-bottom: -20px;
  font-size: 20px;
}


#gridContainer {
  display: grid;
  width: 600px;
  height: 600px;
  background-color: var(--light);
  box-shadow: rgba(121, 36, 100, 0.24) 0px 3px 8px;
  grid-auto-flow: column;
}

.grid-element {
  user-select: none;
}

/*footer*/
.footer {
  text-align: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: var(--black);
}

